.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.budget-spent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 30px;
}

.spent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1%;
}

.spent-value {
  font-size: 40px;
  font-weight: bold;
  color: #f37e30;
  margin-top: 35px;
}

.budget {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  line-height: 10%;
}

.bar-container {
  height: 10px;
  width: 100%;
  background-color: #FFEDD5;
  border-radius: 5px;
}

.bar {
  height: 100%;
  background-color: #f37e30;
  border-radius: 5px;
}