.cards {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 3rem;
}
.explore-content {
    padding: 1rem 1rem;
}

.page-dec {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: baseline;
}
.page-content {
    font-size: 24px;
    color: var(--textColor);
    margin-bottom: 3rem;

    
}

.tabs {
    
    border-radius: 15px;
    width: fit-content;
    padding: .5rem 1rem;
    gap: 10px;
    background-color: transparent;
    .tab-child {
        background-color: transparent;
        font-size: 24px;
        color: var(--textColor);
        border-radius: 15px;
        &.Mui-selected {
            color: var(--whiteColorDeam);
            background-image: var(--gradientColor);
        }
       
    }
}

.search-bar {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    align-items: center;
    
    .input-field {
        padding: .5rem 1rem;
        width: 40%;
        font-size: 20px;
        border-radius: 15px;
        background-color: var(--whiteColorDeam);
    }
    .button {
        border: none;
        position: absolute;
        left: 38%;
    }
}