.itinerary-details {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: 1px solid var(--greyText);
    border-radius: 30px;
    gap: 1rem;
    margin: 1rem 0;

    .placesLineItem {
        
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 1rem;
        

        .btn {
            width: fit-content;
            margin-top: 1rem;
            color: white;
        }

        .place-ind {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0.5rem 0.5rem;
    
            
            .item {
                border: 1px solid gray;
                border-radius: 20px;
                padding: 1rem;
                width: 50%;
                background-color: var(--whiteColorDeam);
            }
            
        }

        .add-place-div {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .cancel {
                background-image: none;
                color: var(--PrimaryColor);
                padding: 1rem;
                border-radius: 30px;
                border-color: var(--PrimaryColor);

                &:hover {
                    background-image: var(--gradientColor);
                    color: white;
                }

            }
        }
    }
}

.date-range-picker {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: 1px solid var(--PrimaryColor);
    background-image: var(--gradientColor);
    border-radius: 30px;

    .date {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .date-num {
        color: white !important;
    }
}

.places {
    display:flex;
    flex-direction: row;
    gap: 2rem;
}