.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    .profile-details {
        display: flex;
        flex-direction: column;
        gap: -2px;
        .profile-name {
            color: var(--whiteColor);
            font-weight: 400;
        }
        
        .date {
            font-size: 12px;
            color: var(--greyText);
        }
    }

}