.add-expense-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  height: 500px;

  .form-control {
    margin: 10px 0;
    width: 100%;

    label {
      color: #6B7280;
    }

    .MuiSelect-select {
      border-radius: 5px;
      width: 100%;
      background-color: #fff;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    .MuiInputLabel-shrink {
      color: #f37e30;
    }

    .MuiInput-underline:before,
    .MuiInput-underline:after {
      display: none;
    }

    .chip-container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 10px;
    }

    .chip {
      margin: 5px;
    }
  }

  .submit-button {
    margin-top: auto;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #f37e30;
    color: #fff;
    text-transform: capitalize;

    &:hover {
      background-color: #e56c22;
    }

    &:disabled {
      background-color: #f5bfa2;
      color: #7d7d7d ;
    }
  }
}

.modal-content {
  padding: 40px;
  width: 600px;

  @media (max-width: 640px) {
    width: 90%;
    padding: 20px;
  }
}