.logo {
    color: var(--blackColor);
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    .icon{
        font-size: 25px;
        color: var(--PrimaryColor);
        transform: translateY(4px);
    }
}
